## Laptop Price Prediction
#### Life cycle of this project
* Understanding the Problem Statement
* Data Collection
* Data Checks to Perform
* Exploratory Data Analysis
* Data Pre-Processing
* Model Training
* choose best model

### 1. Problem Statement
* This project understands how the laptop price is affected by the other variables such as Company, Product, TypeName, Inches, ScreenResolution, Cpu, Ram, Memory, GPU, OpSys, Weight.

### 2. Data Collection
* Dataset Source - https://www.kaggle.com/datasets/muhammetvarl/laptop-price/data
* The data consiss of 13 Columns and 1303 rows
### 2.1 Import Data and Required Packages
Importing Pandas, Numpy, Matplotlib, Seaborn and Warning Library.

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import the CSV Data as Pandas Dataframe

In [7]:
df = pd.read_csv('data/laptop_price.csv')

Show top 5 records

In [9]:
df = df.drop(columns=['laptop_ID'],axis=1)

In [10]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [11]:
df.shape

(1303, 12)

### 2.2 Dataset Information
* Company: String - Laptop Manufecturer
* Product: String - Brand and Model
* TypeName: String - Type(Notebook, Ultrabook, Gaming, etc.)
* Inches: Numeric - Screen Size
* ScreenResolution: String - Screen Resolution
* Cpu: String - Central Processing Unit (CPU)
* Ram: String - Laptop RAM
* Memory: String - Hard Disk / SSD Memory
* GPU: String - Graphics Processing Units
* OpSys: String - Operating Syste
* Weight: String - Laptop Weight
* Price_euros: Numeric - Price (Euro)

### 3. Data Checks to Perform
* Check missing values
* Check duplicates
* Check data type
* Chck the number of unique values of each column
* Check statistics of dataset
* Check various categories present in the different categorical column

### 3.1 Check missing values

In [12]:
df.isna().sum()

Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

There is no missing vallues in the data set

### 3.2 Check Duplicates

In [13]:
df.duplicated().sum()

28

There are 28 duplicated values

In [14]:
df = df.drop_duplicates()

In [15]:
df.duplicated().sum()

0

Duplicates were removed

### 3.3. Check data types

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1275 entries, 0 to 1274
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1275 non-null   object
 1   Product           1275 non-null   object
 2   TypeName          1275 non-null   object
 3   Inches            1275 non-null   float64
 4   ScreenResolution  1275 non-null   object
 5   Cpu               1275 non-null   object
 6   Ram               1275 non-null   object
 7   Memory            1275 non-null   object
 8   Gpu               1275 non-null   object
 9   OpSys             1275 non-null   object
 10  Weight            1275 non-null   object
 11  Price_euros       1275 non-null   float64
dtypes: float64(2), object(10)
memory usage: 129.5+ KB

### 3.4 Checking the number of unique values of each column

In [17]:
df.nunique()

Company              19
Product             618
TypeName              6
Inches               18
ScreenResolution     40
Cpu                 118
Ram                   9
Memory               39
Gpu                 110
OpSys                 9
Weight              179
Price_euros         791
dtype: int64

### 3.5 Check statistics of data set

In [18]:
df.describe()

            Inches  Price_euros
count  1275.000000  1275.000000
mean     15.022902  1134.969059
std       1.429470   700.752504
min      10.100000   174.000000
25%      14.000000   609.000000
50%      15.600000   989.000000
75%      15.600000  1496.500000
max      18.400000  6099.000000

### 3.6 Check various categories present in the different categorical column

In [19]:
print("Categories in 'TypeName' variable:       ",end=" ")
print(df['TypeName'].unique())

print("Categories in 'Ram' variable:       ",end=" ")
print(df['Ram'].unique())

print("Categories in 'OpSys' variable:       ",end=" ")
print(df['OpSys'].unique())

Categories in 'TypeName' variable:        ['Ultrabook' 'Notebook' 'Netbook' 'Gaming' '2 in 1 Convertible'
 'Workstation']
Categories in 'Ram' variable:        ['8GB' '16GB' '4GB' '2GB' '12GB' '6GB' '32GB' '24GB' '64GB']
Categories in 'OpSys' variable:        ['macOS' 'No OS' 'Windows 10' 'Mac OS X' 'Linux' 'Android' 'Windows 10 S'
 'Chrome OS' 'Windows 7']

In [20]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 2 numerical features : ['Inches', 'Price_euros']

We have 10 categorical features : ['Company', 'Product', 'TypeName', 'ScreenResolution', 'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight']